<?xml version="1.0" encoding="utf-8"?>
<!--
This is the URDF model for the Self Built CNC Welding Mechanism for CNERC, HK PolyU.
15 July 2021, by Victor W H Wu.
Updated on 18 July 2021 to have all X, Y, and Z axes.
The Turn table is still needed to be put on and replace the tool0.
Updated on 19 July 2021, tool0 has been replaced with the Turn Table, Welding Torch, and Laser Scanner.
-->
<robot name="cncweld" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="world" />

<!--
  There are 2 rails for the X axis. 
-->
  <link
    name="X_axis">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/X_axis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/X_axis.STL" />
      </geometry>
    </collision>
  </link>
<!--
  The World to X axis Fixed Joint
-->
  <joint name="world_to_X_axis" type="fixed">
    <parent link="world" />
    <child link="X_axis" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

<!--
  The Y axis
-->
  <link
    name="Y_axis">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Y_axis_assy.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Y_axis_assy.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The X axis to Y axis Prismatic Joint
-->
  <joint
    name="X_axis_Y_axis_joint"
    type="prismatic">
    <origin
      xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent
      link="X_axis" />
    <child
      link="Y_axis" />
    <axis  xyz="1 0 0"/>
    <limit effort="1000.0" lower="0.0" upper="0.7" velocity="0.05"/>
  </joint>

<!--
  The Z axis
-->
  <link
    name="Z_axis">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Z_axis_assy.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Z_axis_assy.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The Y axis to Z axis Prismatic Joint
-->
  <joint
    name="Y_axis_Z_axis_joint"
    type="prismatic">
    <origin
      xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent
      link="Y_axis" />
    <child
      link="Z_axis" />
    <limit effort="1000.0" lower="0.0" upper="0.21" velocity="0.05"/>
    <axis  xyz="0 1 0"/>
  </joint>

<!--
  The Slide link on the Z axis.
  Usually the last link is the tool0 and the End Effector will be
  fixed on it.
-->
  <link
    name="tool0">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/tool0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/tool0.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The Z axis to tool0 Prismatic Joint
-->
  <joint
    name="Z_axis_tool0_joint"
    type="prismatic">
<!--
    <origin xyz="0.045 0.0 0.0" rpy="0.0 0.0 0.0" />
-->      
    <origin xyz="0.31 0.046 0.0" rpy="0.0 0.0 0.0" />
    <parent
      link="Z_axis" />
    <child
      link="tool0" />
    <limit effort="1000.0" lower="0.0" upper="0.086" velocity="0.05"/>
    <axis  xyz="0 0 1"/>
  </joint>

</robot>
