<?xml version="1.0" encoding="utf-8"?>
<!--
This is the URDF model for the Self Built CNC Welding Mechanism for CNERC, HK PolyU.
15 July 2021, by Victor W H Wu.
Updated on 18 July 2021 to have all X, Y, and Z axes.
The Turn table is still needed to be put on and replace the tool0.
Updated on 19 July 2021, tool0 has been replaced with the Turn Table, Welding Torch,
                         and Laser Scanner.
Updated on 22 April 2022 the turn table and the torch and laser scanner are splitted
                         so that the Z link has the turn table and the torch and 
                         scanner are held together and becomes the end effector and
                         is called the torch.
Updated on 6 May 2022,   The Origin of the sensor_optical_frame was adjusted.
-->

<robot name="cncweld" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="world" />

  <joint
    name="world_base_link"
    type="fixed">
    <origin
      xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent
      link="world" />
    <child
      link="base_link" />
  </joint>

<!--
  There are 2 rails for the base link. The base_link.STL has already
  included 2 rails in it.
-->
  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The X link - this is the link that cross the 2 rails and moves in the X
  direction.
-->
  <link
    name="X_link">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/X_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/X_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The base link to X link Prismatic Joint
-->
  <joint
    name="base_link_X_link_joint"
    type="prismatic">
    <origin
      xyz="0.0 0.0 0.083" rpy="0.0 0.0 0.0" />
    <parent
      link="base_link" />
    <child
      link="X_link" />
    <axis  xyz="1 0 0"/>
    <limit effort="1000.0" lower="0.09" upper="0.75" velocity="0.05"/>
  </joint>

<!--
  The Y link - the vertical link/rail that moves in the Y direction
-->
  <link
    name="Y_link">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Y_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Y_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The X link to Y link Prismatic Joint
-->
  <joint
    name="X_link_Y_link_joint"
    type="prismatic">
    <!--
    <origin
      xyz="0.08 -0.058 -0.041" rpy="0.0 0.0 0.0" />
    -->
    <origin
      xyz="0.08 -0.10 -0.041" rpy="0.0 0.0 0.0" />
    <parent
      link="X_link" />
    <child
      link="Y_link" />
    <limit effort="1000.0" lower="0.0" upper="0.18" velocity="0.05"/>
    <axis  xyz="0 1 0"/>
  </joint>

<!--
  The Z link - the slide, together with the turn table attached to it, that 
  moves vertically along the rail provided by the Y link.
-->
  <link name="Z_link">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Z_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/Z_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The Y link to Z_link Prismatic Joint
-->
  <joint
    name="Y_link_Z_link_joint"
    type="prismatic">
<!--
    <origin xyz="0.045 0.0 0.0" rpy="0.0 0.0 0.0" />
-->
    <origin xyz="0.068 0.0 0.23" rpy="0.0 0.0 0.0" />
    <parent
      link="Y_link" />
    <child
      link="Z_link" />
    <limit effort="1000.0" lower="-0.086" upper="0.0" velocity="0.05"/>
    <axis  xyz="0 0 1"/>
  </joint>

<!--
  The Z_link to tool0 Revolute Joint
-->
  <joint name="Z_link_tool0" type="revolute">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent
      link="Z_link" />
    <child
      link="tool0" />
    <limit effort="1000.0" lower="-3.1416" upper="3.1416" velocity="0.05"/>
  </joint>

<!--
  The tool0 link
-->
  <link name="tool0">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/torch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cnc_description/meshes/torch.STL" />
      </geometry>
    </collision>
  </link>

<link name="torch" />

<!--
  The tool0 to torch fixed Joint
-->
  <joint name="tool0_torch" type="fixed">
    <origin xyz="0.082 0.0 -0.190" rpy="0.0 0.0 0.0" />
    <parent
      link="tool0" />
    <child
      link="torch" />
  </joint>

<!--
<link name="lj_v7200_optical_frame" />

<joint name="optical_frame" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="lj_v7200_optical_frame"/>
  <child link="lj_v7200_optical_frame"/>
</joint>
-->

<!--
  The tool0 to keyence_optical_frame fixed Joint
-->
  <joint name="tool0_lj_v7200_optical_frame" type="fixed">
    <origin xyz="0.1083 0.000005 -0.19027" rpy="-0.471238898038469 0.0 ${-pi/2.0}" />
    <parent
      link="tool0" />
    <child
      link="lj_v7200_optical_frame" />
  </joint>

  <xacro:include filename="$(find keyence_experimental)/urdf/lj_v7200_macro.xacro"/>
  <xacro:lj_v7200 prefix=""/>

</robot>
