<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="cncweld" >

<!--
  This is the URDF model for the Self Built CNC Welding Mechanism for CNERC, HK PolyU.
  9 August 2021, by Victor W H Wu.

  This .xacro file uses the Fronius Straight Torch as the End Effector, and the Intel
  D435i RGBD Camera as the sensor.

  Use the D435i rather than the D415 is because of the MinZ is smaller and more suitable
  for this project.
-->

  <!-- Do not know how to do the hardware interface with urdf yet!
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  -->

<!-- There are:-
     1. The World, everything lives in it.
     2. The CNC mechanism in it.
     3. The Fronius Straight Welding Torch on a 3D printed holder.
     4. The Intel RealSense D435i RGBD camera on a 3D printed holder.
-->

  <!-- (1) The World link -->
  <link name="world" />

  <!-- (2) The CNC mechanism -->
  <!-- With this structure of the xacro file, the cnc.urdf should only have 
       the CNC mechanism together with the turn table only. The Welding
       Torch is separately described.
  -->
  
  <xacro:include filename="$(find cncweld_description)/urdf/cncweld.xacro" />

  <!-- arm Do not know how to handle this yet.
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
  <xacro:ur5_robot prefix="" joint_limited="true"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />
  -->

<!--
  The World to base link of the CNC mechanism Fixed Joint
-->
  <joint name="world_to_base_link" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0.0 -0.25 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- defining tools -->

  <!-- (3) The Fronius Straight Welding Torch on a 3D printed holder -->

  <link name="torch">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/mere_torch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/mere_torch.STL" />
      </geometry>
    </collision>
  </link>

<!-- tool0 is the end of the CNC mechanism, Torch is the base of the 
     base of the torch holder
-->
  <joint name="tool0_to_Torch" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="tool0" />
    <child  link="torch" />
  </joint>

  <link name="TorchTip" />

  <joint name="Torch_to_TorchTip" type="fixed">
    <origin xyz="0.08 0.0 -0.19" rpy="0.0 0.0 0.0" />
    <parent link="torch" />
    <child  link="TorchTip" />
  </joint>

  <!-- Import the realsense D435i description 

  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 parent="tool0" use_nominal_extrinsics="true" name="d435i">
    <origin xyz=" 0.14515 0 0.0" rpy="${pi} ${pi/2} ${pi}"/>
  </xacro:sensor_d435>
-->
</robot>
