<?xml version="1.0" encoding="utf-8"?>
<!--
This is the URDF model for the Self Built CNC Welding Mechanism for CNERC, HK PolyU.
15 July 2021, by Victor W H Wu.
Updated on 18 July 2021 to have all X, Y, and Z axes.
The Turn table is still needed to be put on and replace the tool0.
Updated on 19 July 2021, tool0 has been replaced with the Turn Table, Welding Torch,
                         and Laser Scanner.
Updated on 22 April 2022 the turn table and the torch and laser scanner are splitted
                         so that the Z link has the turn table and the torch and 
                         scanner are held together and becomes the end effector and
                         is called the torch.
Updated on 6 May 2022,   The Origin of the sensor_optical_frame was adjusted.
updated on 26 May 2022,  A world link is added and a world to base_link fixed joint
                         added. The is necessary for the base_link is above the bottom
                         of the Device and fixed joint added is to lift the whole 
                         thing up by 16.8mm.

Updated on 23 June, 2022.World is moved to direcly under torch.

11 October 2022. for the 3rd branch.
This is new for the Consealed Lead Screws.
-->

<robot name="robot_description" xmlns:xacro="http://ros.org/wiki/xacro">

<link name="world" />

<!--
  The world to base link fixed Joint
-->
  <joint name="world_base_link" type="fixed">
    <origin xyz="0 -0.25 0" rpy="0.0 0.0 0.0" />
    <parent link="world" />
    <child  link="base_link" />
  </joint>

<!--
  There are 2 rails for the base link. The base_link.STL has already
  included 2 rails in it.
-->
  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The X link - this is the link that cross the 2 rails and moves in the X
  direction.
-->
  <link
    name="X_link">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/X_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/X_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The base link to X link Prismatic Joint
-->
  <joint
    name="base_link_X_link_joint"
    type="prismatic">
    <origin
      xyz="0.11 0.00 0.1" rpy="0.0 0.0 0.0" />
    <parent
      link="base_link" />
    <child
      link="X_link" />
    <axis  xyz="1 0 0"/>
    <limit effort="100.0" lower="0.0" upper="0.75" velocity="0.05"/>
  </joint>

<!--
  The Y link - the vertical link/rail that moves in the Y direction
-->
  <link
    name="Y_link">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/Y_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/Y_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The X link to Y link Prismatic Joint
-->
  <joint
    name="X_link_Y_link_joint"
    type="prismatic">
    <origin xyz="0.095 0.064 -0.041" rpy="0.0 0.0 0.0" />
    <parent
      link="X_link" />
    <child
      link="Y_link" />
    <limit effort="100.0" lower="0.0" upper="0.365" velocity="0.05"/>
    <axis  xyz="0 1 0"/>
  </joint>

<!--
  The Z link - the slide, together with the turn table attached to it, that 
  moves vertically along the rail provided by the Y link.
-->
  <link name="Z_link">
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/Z_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_description/meshes/Z_link.STL" />
      </geometry>
    </collision>
  </link>

<!--
  The Y link to Z_link Prismatic Joint
-->
  <joint
    name="Y_link_Z_link_joint"
    type="prismatic">
    <origin xyz="0.016 0.0 0.2855" rpy="0.0 0.0 0.0" />
    <parent
      link="Y_link" />
    <child
      link="Z_link" />
    <limit effort="100.0" lower="-0.221" upper="0.0" velocity="0.05"/>
    <axis  xyz="0 0 1"/>
  </joint>

<!--
  The torch on the torch holder
-->
  <link name="torch" >
    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_support/meshes/mere_torch.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cncweld_support/meshes/mere_torch.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

<!--
  Z_link to torch fixed Joint
-->
  <joint name="Z_link_torch" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent
      link="Z_link" />
    <child
      link="torch" />
  </joint>

<!--
  Torch to Torch tip
-->
  <link name="TorchTip" />

  <joint name="Torch_to_TorchTip" type="fixed">
    <origin xyz="0.08 0.0 -0.215" rpy="0.0 0.0 0.0" />
    <parent link="torch" />
    <child  link="TorchTip" />
  </joint>

<!--
  The Intel RealSense RGBD camera D435i
-->
  <!-- Import the realsense D435i description -->

  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 parent="Z_link" use_nominal_extrinsics="true" name="d435i">
    <origin xyz=" 0.14515 0 -0.025" rpy="${pi} ${pi/2} ${pi}"/>
  </xacro:sensor_d435>

</robot>
