<?xml version="1.0"?>
<launch>
<!-- cncweldD435i.xacro is the description of the cnc with the torch and the D435i camera -->
  <param 
    name="robot_description" 
    command="$(find xacro)/xacro '$(find cncweld_support)/urdf/cncweldD435i.xacro'" />

<!-- We do not have a robot connected yet, so publish fake joint states -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

<!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

<!-- Launch the cnc_interface 
  <include file="$(find cnc_interface)/launch/cncweld_hw.launch">
  </include>
-->
<!-- Before the Edge Detector can be launched, the RealSense D435i Camera needs to be launched first.
     The rs_rgbd.launch will produce ORGANIZED point cloud instead of UN-organized point cloud. -->
 </launch>
