<?xml version="1.0"?>

<!--
  Chinese National Engineering Research Centre for Steel Structure
  (Hong Kong Branch)
  Hong Kong Polytechnic University
  Author: Victor W H Wu
  Date: 26 October, 2022.

  This file launches the self-built CNC mechanism with a Fronius 
  Straight Torch as the end effector and an Intel Realsense D435i
  camera to capture point clouds.

  This launch file takes an argument cam. When it is true, it will
  launch the D435i camera. If the camera is not needed for the
  test, set it to false.
-->

<launch>

<!-- 1. Display the RViz -->
  <arg name="cncweld" />
  <param name="robot_description" 
         command="xacro $(find cncweld_description)/urdf/cncweld.xacro" />

  <!-- Use the joint state publisher specially written for cncweld 
     This will change to be built-in in cncweld_core -->    
  <node name="joint_state_publisher_gui" 
        pkg="joint_state_publisher_gui" 
        type="joint_state_publisher_gui"
        output="screen" /> 

  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" />

  <node name="rviz" 
        pkg="rviz" 
        type="rviz" 
        args="-d $(find cncweld_description)/rviz/urdf.rviz" />

<!--
  26 October, 2022. (Wednesday)
  The Intel Realsense D435i camera is added to be launched to show point
  clouds captured.
-->
  <include if="$(arg cam)" 
      file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="camera" value="d435i" />
    <arg name="enable_pointcloud" value="true"/>
  </include>

</launch>