<?xml version="1.0"?>

<launch>

<!-- 1. Display the RViz -->
  <arg name="cncweld" />
  <param name="robot_description" command="xacro $(find cncweld_description)/urdf/cncweld.xacro" />

  <!-- Use the joint state publisher specially written for cncweld
     This will change to be built-in in cncweld_core     -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
    output="screen" /> 

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cncweld_description)/rviz/urdf.rviz" />

<!-- 2. Test the GRBL Driver node -->
  <node name="grbl_driver_node" pkg="grbl_driver" type="grbl_driver_node" output="screen" />

<!-- 3. Starts the Keyence laser scanner -->
  <node name="keyence_driver_node" pkg="keyence_experimental" type="keyence_driver_node" >
    <param name="controller_ip" type="string" value="192.168.0.6" />
    <param name="frame_id" type="string" value="lj_v7200_optical_frame" />
  </node>

</launch>
